<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="pathWithPicture" value="D:\BulkThumbnailCreator\Picture\"/>
    <add key ="pathPictureAfterCopy" value="D:\NewPictures\"/>
    <add key = "imageWidth" value = "300"/>
    <add key = "imageHeight" value = "300"/>
  </appSettings>

</configuration>


