P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.fount {
    font-family: MyFount, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.stl {
    width: 200px;
    height: 160px;
    border: 1px solid;
    background: linear-gradient(to top, black 50%, transparent 50%);
}

.conteiner {
    border: 2px solid black;
    width: 200px;
    height: 160px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
}

.con {
    border: 3px solid black;
    width: 100px;
    height: 70px;
    background: black;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.but {
    margin-top: 0px;
    margin-left: 87%;
    margin-right: auto;
    margin-bottom: auto;
}

.sd {
    color: white;
    text-align: center;
    line-height: 3.5em;
}

html,
body {
    height: 100%;
    width: 100%;
}

.menu {
    min-height: 100%;
}

.pfountmenu {
    font-size: 25px;
}