
.pad
{
    padding: 10px;
}   
a:link {
    color: rgb(8, 8, 8);
    text-decoration: none
}

a:visited {
    color: rgb(8, 8, 8);
    text-decoration: none
}

a:hover {
    color: rgb(57, 240, 33);
    text-decoration: none
}

a:active {
    color: rgb(8, 8, 8);
    ;
    text-decoration: none
}
.padl
{
    padding-left: 10px;
}
.padlt
{
    padding: 10px; padding-top: 0px;
}
.padb
{
    padding-bottom: 10px;
}
.selpad
{
    padding: 0;
    margin-top: -7px;
}