<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourceFilesPath" value="\Source Files"/>
    <add key="processedFilesPath" value="\Processed Files"/>
    
    <add key="minPixelsPerDimension" value="1"/>
    <add key="maxPixelsPerDimension" value="4096"/>
    
    <add key="logName" value="Application"/>
    <add key="sourceName" value="Bulk Thumbnail Creator (by Dzianis)"/>
  </appSettings>
</configuration>